:root {
    --color-purple: #743799;
    --color-pink: #e16bba;
    --color-light-orange: #feba7b;

    // background
    --color-background-primary: #d8d8d8;
    --color-background-stroke: #f3f3f3;

    // text
    --color-text-primary: #242424;
    --color-text-secondary: #474747;
    --color-text-tertiary: #b6b6b6;
    --color-text-accent: #0066ff;
    --color-text-white: #ffffff;

    // border
    --color-border-primary: #d9d9d9;
}
