.link {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;

    color: var(--color-text-primary);
    text-decoration: none;

    &:hover {
        scale: 1.02;
    }
}

.icon {
    width: 24px;
    height: 24px;

    color: var(--color-text-primary);
}
