.layout {
    position: relative;
    height: inherit;

    &__header {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

.content {
    margin: 0 auto;

    display: flex;
    flex-direction: row;

    height: calc(100vh - var(--header-height));
    max-width: 1400px;

    &__sidebar {
        width: 275px;
    }

    &__main {
        flex: 1;
        overflow-y: auto;
    }
}
